@model Produkt

@{
    ViewData["Title"] = "Szczegóły Produktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 style="text-align: center;">Szczegóły Produktu</h1>
    <hr />
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Nazwa)</th>
                        <td>@Html.DisplayFor(model => model.Nazwa)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Opis)</th>
                        <td>@Html.DisplayFor(model => model.Opis)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Cena)</th>
                        <td>@Html.DisplayFor(model => model.Cena)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SciezkaZdjecia)</th>
                        <td>
                            <img src="@Model.SciezkaZdjecia" alt="Zdjęcie produktu" class="img-fluid" />
                        </td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Kategoria.Nazwa)</th>
                        <td>@Html.DisplayFor(model => model.Kategoria.Nazwa)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Producent.Nazwa)</th>
                        <td>@Html.DisplayFor(model => model.Producent.Nazwa)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-2">Edytuj</a>
        <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
    </div>
</div>
