@model nShop.Data.Data.Sklep.Produkt

@{
    ViewData["Title"] = "Szczegóły produktu";
}

<div class="container">
    <h1>@Model.Nazwa</h1>
    <div class="row">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Url.Content($"~/{Model.SciezkaZdjecia}")" alt="Zdjęcie @Model.Nazwa" class="img-fluid w-100 mb-3">
                </div>

                <div class="col-md-6">
                    <div class="product-info-box p-4 shadow-sm bg-white">
                        <h2 class="product-title">@Model.Nazwa</h2>
                        <p class="product-description">@Model.Opis</p>
                        <p class="product-price">Cena: <span class="price">@Model.Cena zł</span></p>
                        <p class="product-stock">Ilość na magazynie: <span class="stock">@Model.IloscNaMagazynie</span></p>
                        <p class="product-producer">Producent: <span class="producer">@Model.Producent?.Nazwa</span></p>
                        <p class="product-category">Kategoria: <span class="category">@Model.Kategoria?.Nazwa</span></p>
                        <form asp-action="DodajDoKoszyka" asp-controller="Zamowienie" method="post">
                            <input type="hidden" name="produktId" value="@Model.Id" />
                            <input type="number" name="ilosc" value="1" min="1" class="form-control mb-2" />
                            <button type="submit" class="btn btn-primary mt-auto add-to-cart-btn">Dodaj do koszyka</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <h4>Recenzje</h4>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Użytkownik</th>
                        <th>Treść</th>
                        <th>Ocena</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recenzja in Model.Recenzje)
                    {
                        <tr>
                            <td>@recenzja.Uzytkownik?.Imie @recenzja.Uzytkownik?.Nazwisko</td>
                            <td>@recenzja.Tekst</td>
                            <td>@recenzja.Ocena / 5 gwiazdek</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h4>Dodaj Recenzję</h4>
            <form asp-action="DodajRecenzje" asp-controller="Produkt" method="post">
                <input type="hidden" name="ProduktId" value="@Model.Id" />
                <div class="form-group">
                    <label for="Tekst">Treść recenzji</label>
                    <textarea class="form-control" name="Tekst" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="Ocena">Ocena</label>
                    <select class="form-control" name="Ocena" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Dodaj Recenzję</button>
            </form>
        </div>
    </div>
</div>
