@model Uzytkownik

@{
    ViewData["Title"] = "Usuń";
}

<h1 class="text-center">Usuń użytkownika</h1>
<h3 class="text-center text-danger">Czy na pewno chcesz usunąć tego użytkownika?</h3>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Szczegóły użytkownika</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4 col-md-2 font-weight-bold">Email:</dt>
                <dd class="col-sm-8 col-md-10">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-4 col-md-2 font-weight-bold">Imię:</dt>
                <dd class="col-sm-8 col-md-10">@Html.DisplayFor(model => model.Imie)</dd>

                <dt class="col-sm-4 col-md-2 font-weight-bold">Nazwisko:</dt>
                <dd class="col-sm-8 col-md-10">@Html.DisplayFor(model => model.Nazwisko)</dd>

                <dt class="col-sm-4 col-md-2 font-weight-bold">Hasło:</dt>
                <dd class="col-sm-8 col-md-10">@Html.DisplayFor(model => model.Haslo)</dd>

                <dt class="col-sm-4 col-md-2 font-weight-bold">Rola:</dt>
                <dd class="col-sm-8 col-md-10">@Html.DisplayFor(model => model.Rola.Nazwa)</dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger mr-2">Usuń</button>
                <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
            </form>
        </div>
    </div>
</div>