@model nShop.Data.Data.Sklep.Uzytkownik

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 style="text-align: center;">Szczegóły użytkownika</h1>
    <hr />
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th>Imię</th>
                        <td>@Html.DisplayFor(model => model.Imie)</td>
                    </tr>
                    <tr>
                        <th>Nazwisko</th>
                        <td>@Html.DisplayFor(model => model.Nazwisko)</td>
                    </tr>
                    <tr>
                        <th>Hasło</th>
                        <td>@Html.DisplayFor(model => model.Haslo)</td>
                    </tr>
                    <tr>
                        <th>Rola</th>
                        <td>@Html.DisplayFor(model => model.Rola.Nazwa)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-2">Edytuj</a>
        <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
    </div>
</div>
