@model Recenzja

@{
    ViewData["Title"] = "Usuń Recenzję";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Usuń Recenzję</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Czy na pewno chcesz usunąć tę recenzję?</h3>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Tekst)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Tekst)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Ocena)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Ocena)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Uzytkownik.Email)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Uzytkownik.Email)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Produkt.Nazwa)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Produkt.Nazwa)</dd>
            </dl>
            <form asp-action="Delete" method="post" style="text-align: center;">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Usuń" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
