@model IEnumerable<nShop.Data.Data.Sklep.Recenzja>

@{
    ViewData["Title"] = "Lista Recenzji";
}

<h1>Lista Recenzji</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Utwórz nowy</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Uzytkownik.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Produkt.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Ocena)
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Uzytkownik.Imie) @Html.DisplayFor(modelItem => item.Uzytkownik.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produkt.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tekst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ocena)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-delete">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
