@model ElementZamowienia

@{
    ViewData["Title"] = "Szczegóły Elementu Zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 style="text-align: center;">Szczegóły Elementu Zamówienia</h1>
    <hr />
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Ilosc)</th>
                        <td>@Html.DisplayFor(model => model.Ilosc)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CenaJednostkowa)</th>
                        <td>@Html.DisplayFor(model => model.CenaJednostkowa)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Zamowienie.Id)</th>
                        <td>@Html.DisplayFor(model => model.Zamowienie.Id)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Produkt.Nazwa)</th>
                        <td>@Html.DisplayFor(model => model.Produkt.Nazwa)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-2">Edytuj</a>
        <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
    </div>
</div>
